
Este es index de leandro


<div class="row">
  <div class="col-lg-6">
    {{#link-to "leandro.edit" tagName="li"}}
    <a href="#">
      Edit
    </a>
    {{/link-to}}
  </div>
  <div class="col-lg-6">
    {{outlet}}
  </div>
</div> 

