<div class="page-header">
  <h1>Example of how to use <small> Ember modals add on</small></h1>
</div>
<div class="panel panel-default">
<div class="panel-heading">
  Ember-modals example usage
</div>
<div class="panel-body">
  <div class="bs-example" data-example-id="btn-variants">
    <button class="btn btn-default" {{action "confirm" }}> Render template in modal</button>
    <!-- <button type="button" class="btn btn-primary">Primary</button> -->
    <!-- <button type="button" class="btn btn-success">Success</button> -->
    <!-- <button type="button" class="btn btn-info">Info</button> -->
    <!-- <button type="button" class="btn btn-warning">Warning</button> -->
    <!-- <button type="button" class="btn btn-danger">Danger</button> -->
    <!-- <button type="button" class="btn btn-link">Link</button> -->
  </div>
</div>
</div>

<div>
     <!--id is important, so we can reference it on the toggler component-->
    {{#em-modal configName="bs" id="modal1"}}
  
      <!--the content of the modal...-->
      {{#em-modal-body}}
          {{partial "confirm-choice" }}
      {{/em-modal-body}}
    {{/em-modal}}

    {{#em-modal configName="bs" id="modal2"}}
  
      <!--the content of the modal...-->
      {{#em-modal-body}}
          {{partial "leandro" }}
      {{/em-modal-body}}
    {{/em-modal}}

    <!--the toggler to open the modal when clicked, modal-id property must reference the modal's id-->
    {{#em-modal-toggler modal-id="modal1" class="btn btn-primary"}}Click me!{{/em-modal-toggler}} 

    {{#em-modal-toggler modal-id="modal2" class="btn btn-primary"}}Segundo Modal{{/em-modal-toggler}} 
</div>
