<div class="page-header">
  <h1>Example of how to use <small> Ember modals add on</small></h1>
</div>
<div class="panel panel-default">
<div class="panel-heading">
  Ember-modals example usage
</div>
<div class="panel-body">
  <div class="bs-example" data-example-id="btn-variants">
    <button class="btn btn-default" {{action "confirm" }}> Render template in modal</button>
    <!-- <button type="button" class="btn btn-primary">Primary</button> -->
    <!-- <button type="button" class="btn btn-success">Success</button> -->
    <!-- <button type="button" class="btn btn-info">Info</button> -->
    <!-- <button type="button" class="btn btn-warning">Warning</button> -->
    <!-- <button type="button" class="btn btn-danger">Danger</button> -->
    <!-- <button type="button" class="btn btn-link">Link</button> -->
  </div>
</div>
</div>
